{% extends "bookops/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="submission-container">
            <h3>New Submission</h3>
            <form id="compose-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    Author: <input disabled class="form-control" value="{{ request.user.username }}" name="author">
                </div>
                <div class="form-group">
                    Title: <input id="submission-title" class="form-control" name="title">
                </div>
                <div class="form-group">
                    Synopsis: <input id="submission-synopsis" class="form-control" name="synopsis">
                </div>
                <textarea class="form-control" id="submission-body" name="body" placeholder="Copy and paste your manuscript here."></textarea>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </form>
        </div>
        <br>
        <div id="pile-container">
            <h3>The Pile</h3>
            {% if submissions %}
                <div class="container-fluid">
                    <div class="row" id="pile-headers">
                        <div class="col">Title</div>
                        <div class="col">Author</div>
                        <div class="col">Synopsis</div>
                        <div class="col">Read</div>
                        <div class="col">Accepted</div>
                        <div class="col">Submission Time</div>
                        <div class="col">More Information</div>
                    </div>
                    {% for submission in submissions %}
                        <div class="row" id="{{submission.id}}">
                            <div class="col">{{submission.title}}</div>
                            <div class="col">{{submission.author}}</div>
                            <div class="col">{{submission.synopsis}}</div>
                            <div class="col">{{submission.read}}</div>
                            <div class="col">{{submission.accepted}}</div>
                            <div class="col">{{submission.timestamp}}</div>
                            <a href = "{% url 'read' submission.id %}"><div classs="col"><button class="btn btn-sm btn-outline-primary">Read</button></div></a>
                            {% if user.editor %}
                                <div class="col"><button class="btn btn-sm btn-outline-primary" onclick = "accept_manuscript(this.parentNode.parentNode.id)">Accept</button></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                    <h4>Is Empty at the Moment</h4>
            {% endif %}
        </div>
    {% else %}
        You must be logged in to access this page.
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'slush/slush.js' %}"></script>
{% endblock %}