{% extends "bookops/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container" id="account-header">
            <h2>{{user.username}} Account Information</h2>
            <p> 
                {% if user.editor %}
                    You are a BookOps editor. 
                {% else %}
                    You are a BookOps user.
                {% endif %}
                You have been a user since {{user.date_joined}} The email associated with this account is: {{user.email}}
            </p>
        </div>

        <div class="container" id="account-manuscripts-container">You have submitted the following manuscripts:
            <ul class="list-group"> 
            {% for manuscript in manuscripts %}
                <li class="list-group-item">{{manuscript.title}} submitted on {{manuscript.timestamp}}</li>
            {% endfor %}
            </ul>
        </div>
        <hr>
        {% if user.editor %}
            <div class="container" id="account-manuscripts-editing">You are assigned to edit the following manuscripts:
                <ul class="list-group">
                    {% for edit in editing %}
                        <li class="list-group-item">{{edit.title}} by {{edit.author.username}} submitted on {{edit.timestamp}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        You must be logged in to access this page.
    {% endif %}
{% endblock %}