{% extends "bookops/layout.html" %}
{% load static %}

<!-- Base index page with links to the rest of the site -->
{% block body %}
    <div>
        <br>
        <a href="{% url 'slush' %}"><button class="btn btn-lg btn-outline-primary btn-block" id="slush" onclick="">Slush Pile</button></a>
        <a href="{% url 'manuscripts' %}"><button class="btn btn-lg btn-outline-primary btn-block" id="manuscripts">Editing Tools</button></a>
        <a href="{% url 'marketing' %}"><button class="btn btn-lg btn-outline-primary btn-block" id="marketing">Marketing Suite</button></a>
        <a href="{% url 'account' %}"><button class="btn btn-lg btn-outline-primary btn-block" id="account">Account</button></a>
    </div>
{% endblock %}