{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BookOps</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bookops/styles.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" id="nav-container">
            <div class="container-sm">
                <a class="navbar-brand" href="{% url 'index' %}"><h1>BookOps</h1></a>
                {%if user.is_authenticated%}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'slush' %}">Slush Pile</a>
                            <a class="dropdown-item" href="{% url 'manuscripts' %}">Editing Tools</a>
                            <a class="dropdown-item" href="{% url 'marketing' %}">Marketing Suite</a>
                        </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href = "{% url 'account' %}"><h2>Account</h2></a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href = "{% url 'logout' %}"><h2>Logout</h2></a>
                </div>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}"><h2>Login</h2></a>
                    <a class="nav-link" href="{% url 'register' %}"><h2>Register</h2></a>
                {% endif %}
            </div>
        </nav>
        <div class="container" id="main-container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>